// pushes the content down without moving image
.heading-container {
  color: #ffffff;
  padding-top:200px;
  h1 {
    background: rgba(0,0,0,0.7);
    height: 120px;
    padding-top: 20px;
    font-size: 70px;
  }
  h2 {
    background: rgba(0,0,0,0.7);
    margin-top: 40px;
    height: 25%;
    padding: 18px 0 18px 0;
  }
}



.landing-page-buttons {
  max-width: 400px;
  margin: 50px auto;
  a {
    margin-right: 40px;
    font-size: 1.25rem;

  }
}
