<%- include ../partials/_navbar.ejs %>

<form method="POST" action="/foods">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required>
  </div>

    <div>
      <label for="image">Image</label>
      <input type="text" name="image" id="image" required>
    </div>
    <div>
      <label for="protein">Protein (per 100g)</label>
      <input type="number" name="protein" id="protein" required>
    </div>
    <div>
      <label for="carbs">Carbs (per 100g)</label>
      <input type="number" name="carbs" id="carbs" required>
    </div>
    <div>
      <label for="fat">Fat (per 100g)</label>
      <input type="number" name="fat" id="fat" required>
    </div>
    <div>
      <label for="calories">Calories (per 100g)</label>
      <input type="number" name="calories" id="calories" required>
    <div>
    <div>
      <label for="description">Description</label>
      <textarea name="description" id="description" value="<%= food.description %>" required>
     </textarea>
    </div>

  <button class="button">Add Food</button>
</form>
