<main class="background-image">

<%- include ../partials/_navbar.ejs %>

  <h1> Add a Food </h1>
<form class="add-food-form" method="POST" action="/foods" class="col-md-6 offset-md-3">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" class="form-control" maxlength="25" required>
  </div>

    <div>
      <label for="image">Image</label>
      <input type="text" name="image" id="image" class="form-control" required>
    </div>
    <div>
      <label for="protein">Protein (per 100g)</label>
      <input type="number" name="protein" id="protein" class="form-control" required>
    </div>
    <div>
      <label for="carbs">Carbs (per 100g)</label>
      <input type="number" name="carbs" id="carbs" class="form-control" required>
    </div>
    <div>
      <label for="fat">Fat (per 100g)</label>
      <input type="number" name="fat" id="fat" class="form-control" required>
    </div>
    <div>
      <label for="calories">Calories (per 100g)</label>
      <input type="number" name="calories" id="calories" class="form-control" required>
    <div>
    <div>
      <label for="description">Description</label>
      <textarea name="description" id="description" class="form-control" required>
     </textarea>
    </div>

  <button class="button btn btn-primary">Add Food</button>
</form>

</main>
