
<main class="background-image">

  <%- include ../partials/_navbar.ejs %>

  <div class="about-div">
    <h1>About page</h1>
    <p>This is a website dedicated to helping you find the best quality foods for your fitness goals. Wether you're trying to lose weight or build muscle, you can find the right foods for you or even post your own. What are you waiting for? Create an account and starting searching now.</p>

    <a href="/foods" class="btn btn-primary">Proceed</a>
  </div>

</main>
