

<main class="background-image">
  <div class="heading-container">
    <div class="landing-page-headings">
      <h1 class="super-foods">Super Foods</h1>
      <h2>Fitting Foods For Your Fitness Goals</h2>
    </div>

    <div class="landing-page-buttons">
        <a href="/login">Login</a>
        <a href="/register">Sign up</a>
    </div>
  </div>


</main>
