

<main class="background-image img-fluid">
  <div class="heading-container">

      <h1 class="super-foods">Super Foods</h1>
      <h2>Fitting Foods For Your Fitness Goals</h2>


    <div class="landing-page-buttons">
        <a href="/login">Login</a>
        <a href="/register">Sign up</a>
    </div>
  </div>


</main>
